<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>챌린지 선택</title>
</head>
<body>
<div>
    <header>
        <img class="logo" src = "../../static/img/main/Cilogo.png">
        <h1 class="Challenge">챌린지</h1>
    </header>
    <main id="container" class="container">

        <div class="progress">
            <input type="button" id="progress" value="진행중">
            <nav>
                <input type="button" id="complete" value="완료">
            </nav>
        </div>

        <!--사이드 카테고리-->
        <aside class="aside"></aside>
        <div class="challenge_category">
            <div id="content" class="content">

            </div>
        </div>
    </main>
</div>


</body>
</html>