<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>출석체크</title>
    <link rel="stylesheet" th:href="@{/css/main/checkChallenge.css}">
    <!--js 파일-->
    <script th:src="@{/js/attendance.js}"></script>
</head>
<body>
<div>
<!--    <div th:replace="~{layout/header.html::main-header}"></div>-->
    <header>
        <h1 class="challenge">챌린지</h1>
        <h1 class="checkChallenge">출석 체크</h1>
    </header>
    <a id="userId" style="display: none;" th:attr="data-user-id=${currentUser.userId}"></a>
    <!--캘린더 표시 div-->
    <div id="calendar">
        <div class="wrapper">

            <header>
                <div class="nav">
                    <button class="prev"> < </button>
                    <p class="current-date"></p>
                    <button class="next"> > </button>
                </div>
            </header>
            <div class="calendar">
                <ul class="weeks">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="days">

                </ul>
            </div>
        </div>
    </div>


    <!--출석체크 버튼-->
    <button id="attendanceButton" class="attendanceButton">출석체크
        <img src="/img/main/attendace_icon.png">
    </button>


</div>
</body>
</html>
