<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/main/find-password.css}"/>
</head>
<body>

<section class="find-password-section">
    <header class="find-password-header">
        <img th:src="@{/img/main/Cilogo.png}" alt="대표 로고" class="main-logo-img">
    </header>

    <form class="find-password-form" th:action="@{/users/find-password}" method="post">
        <!-- CSRF Token 자동 추가 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group">
            <label for="find-user-id" class="visually-hidden">유저아이디</label>
            <div class="input-container">
                <img th:src="@{/img/main/g-profile.svg}" alt="아이콘" class="input-icon">
                <input type="text" id="find-user-id" name="username" placeholder="아이디 또는 간편아이디를 입력하세요">
            </div>
        </div>

        <button type="submit" class="btn-find-password">비밀번호 찾기</button>

        <div class="find-id-link">
            <p>아이디가 기억나지 않는다면? <a th:href="@{/find-id}">아이디 찾기</a></p>
        </div>
    </form>
</section>
</body>
<script th:src="@{/js/login.js}"></script>
</html>
