<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/main/find-password.css}"/>
    <script th:src="@{/js/find-password.js}"></script>
</head>
<body>
<input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<section class="find-password-section">
    <header class="find-password-header">
        <img th:src="@{/img/main/Cilogo.png}" alt="대표 로고" class="main-logo-img">
    </header>

    <form class="find-password-form" th:action="@{/users/find-password}" method="post">
        <div class="form-group">
            <label for="find-user-id" class="visually-hidden">유저아이디</label>
            <div class="input-container">
                <input type="text" id="find-user-id" name="username" placeholder="아이디를 입력하세요">
                <button type="button" class="btn-code-send">인증 받기</button>
            </div>
            <div class="form-group code-input">
                <input type="text" placeholder="인증번호 6자리 입력해주세요">
                <button type="button" class="btn-code-verify">인증 확인</button>
            </div>
        </div>
    </form>
    <button type="submit" class="btn-next" disabled>다음</button>
    <form id="passwordForm" style="display:none;">
        <label for="password">
            <input type="password" id="password" name="password" placeholder="새로운 비밀번호" required>
        </label>
        <label for="confirmPassword">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인" required>
        </label>
        <button class="btn-ok" type="submit">확인</button>
    </form>
    <a class="login-link" th:href="@{/login}"><button type="submit" class="btn-login">로그인</button></a>

    <div class="find-id-link">
        <p>아이디가 기억나지 않는다면? <a th:href="@{/find-id}">아이디 찾기</a></p>
    </div>
</section>
</body>
</html>
