<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>다이어리</title>
    <link rel="stylesheet" href="../../static/css/main/my-diary.css">
    <script src="../../static/js/my-diary.js"></script>

</head>
<body>

<div id="date"></div>
<section>
    <h1>AI로 자동일기를 써보세요!</h1>
    <span>테마를 선택하면 AI가 일기작성을!?</span>
    <div class="theme">
        <div class="themeSelect">
            <div class="circleBox">
                <div class="circle">
                    <img src="../../static/img/main/diary.png"/>
                </div>
                <div class="circleText">일기</div>
            </div>

            <div class="circleBox">
                <div class="circle">
                    <img src="../../static/img/main/clap.png"/>
                </div>
                <div class="circleText">칭찬</div>
            </div>

            <div class="circleBox">
                <div class="circle">
                    <img src="../../static/img/main/double_heart.png"/>
                </div>
                <div class="circleText">위로</div>
            </div>

            <div class="circleBox">
                <div class="circle">
                    <img src="../../static/img/main/megaphone.png"/>
                </div>
                <div class="circleText">잔소리</div>
            </div>

            <div class="circleBox">
                <div class="circle">
                    <img src="../../static/img/main/note-pen.png"/>
                </div>
                <div class="circleText">감성적</div>
            </div>
        </div>
        <a href="" class="write">일기작성해줘</a>
    </div>

</section>

<article class="timeline">
    <h3>타임라인</h3>
    <div class="timelineBox">
        <div class = "deco">
            <div class="deco-flex">
                <img src="../../static/img/main/dot.png"/>
                <div class="divider"></div>
            </div>
        </div>
        <div id="expends"></div>
    </div>
</article>

</body>
</html>
