<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profiledetail</title>
    <link rel="stylesheet" th:href="@{/css/main/profiledetail.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="profile-container">
    <form class="profile-form" method="post" enctype="multipart/form-data" action="/profile/upload">
        <div class="user-profile">
            <figure class="profile-image" aria-label="프로필">
                <img  th:src="${user.profileImg} ?: '/img/main/primaryImage.png'" class="profile-image" alt="프로필" >
                <div class="button-container">
                    <button class="edit-button" type="button">수정</button>
                    <button class="basic-image" type="button">기본 이미지로 설정</button>
                </div>
            </figure>
            <span th:text="${user.username}">ID</span>
        </div>
        <textarea class="profile-introduction" placeholder="소개글을 입력해주세요"></textarea>
        <section class="button-container">
            <button class="cancel-button" type="button">취소</button>
            <input type="hidden" id="userId" th:value="${user.userId}"/>
            <button class="submit-button" type="submit">등록</button>
        </section>
        <input type="file" id="imageInput" name="profileImg" class="profile-image-input" style="display: none;">
    </form>
</div>

<script th:src="@{/js/profiledetail.js}"></script>

</body>
</html>