<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" th:href="@{/css/main/profile.css}">
    <link rel="stylesheet" th:href="@{/css/main/style.css}"/>
</head>
<body>
    <div th:replace="~{layout/header.html::main-header}"></div>
    <div class="background">
        <img class="background" th:src="@{/img/main/img.png}" alt=""/>
    </div>
    <div class="my-profile">
        <div class="profile-img">
            <img th:src="@{/img/main/primaryImage.png}" alt="" width="250" th:if="${user.profileImg == null}"/>
            <img th:src="${user.profileImg}" alt="" width="250" th:if="${user.profileImg != null}"/>
        </div>
        <div class="more-container">
            <div class="follow-button-container" th:unless="${currentUser.userId == user.userId}">
                <form th:action="@{/follow/{userId}(userId=${user.userId})}" method="post">
                    <button class="follow-button" id="followButton" type="submit"  th:data-userId="${user.userId}">Follow</button>
                </form>
            </div>
            <img class="more" th:src="@{/img/main/more.png}" alt=""/>
            <div class="dropdown-menu" id="myDropdown">
                <a href="/profile/detail">프로필변경</a>
            </div>
        </div>

        <div class="profile-name">
            <p th:text="${user.username}"></p>
            <div class="follow-list">
                <div class="follow">
                    <a class="followers-button" th:href="@{/follow/followers/{userId}(userId=${user.userId})}">Followers</a>
                    <span id="followersCount" th:text="${followersCount}">0</span>
                </div>
                <div class="following">
                    <a class="following-button" th:href="@{/follow/following/{userId}(userId=${user.userId})}">Following</a>
                    <span id="followingCount" th:text="${followingCount}">0</span>
                </div>
            </div>
        </div>
        <div class="side-view">
                <div class="level-bar">
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="progress-bar"></div>
                    </div>
                    <div class="level-info">
                        <span id="current-level"></span> 레벨
                        <span id="filled-exp"></span> / <span id="required-exp"></span>
                    </div>
                </div>
            <div class="introduce">
                <span class="text">소개</span>
                <label>
                    <textarea class="introduce-text">나는 거지다아아아아아ㅏ아아.</textarea>
                </label>
            </div>
            <div class="stats">
                <p class="text">통계</p>
                <div>
                    <label>
                        <textarea class="introduce-text">더미더미더미</textarea>
                    </label>
                </div>
            </div>
            <div class="comments-section">
                <span class="text">방명록</span>
                <form th:action="@{/profile/{userId}/comments(userId=${user.userId})}" method="post" th:object="${newComment}">
                    <label>
                        <textarea th:field="*{content}" placeholder="방명록을 작성해주세요."></textarea>
                    </label>
                    <button class="button-submit" type="submit">작성</button>
                </form>
            </div>
            <div class="comments-list">
                <div th:each="comment : ${comments}">
                    <div class="comment-item">
                        <div class="time">
                        <span th:text="${#temporals.format(comment.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>
                        <p class="item-content" th:text="${comment.content}"></p>
                        <div class="comment-actions">
                            <a th:href="@{/profile/{userId}/comments/{commentId}/edit(userId=${user.userId}, commentId=${comment.commentId})}" class="edit-button">수정</a>
                            <form th:action="@{/profile/{userId}/comments/{commentId}/delete(userId=${user.userId}, commentId=${comment.commentId})}" method="post">
                                <button type="submit" class="delete-button">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                <div class="pagination">
                    <!-- 이전 페이지-->
                    <a th:href="@{/profile/{userId}(userId=${user.userId}, page=0)}" th:class="${currentPage == 0 ? 'disabled' : ''}">«</a>
                    <a th:href="@{/profile/{userId}(userId=${user.userId}, page=${currentPage - 1})}" th:class="${currentPage == 0 ? 'disabled' : ''}"><</a>

                    <span th:if="${totalPages > 0}">
                    <span th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/profile/{userId}(userId=${user.userId}, page=${i})}" th:text="${i + 1}" th:class="${currentPage == i ? 'active' : ''}"></a></span>
                    </span>
                    <span th:unless="${totalPages > 0}">
                    <!-- 페이지가 없을 때, 1 페이지를 표시 -->
                    <a th:href="@{/profile/{userId}(userId=${user.userId}, page=0)}" th:text="1"></a>
                    </span>

                    <!-- 다음 페이지로 이동하는 링크 -->
                    <a th:href="@{/profile/{userId}(userId=${user.userId}, page=${currentPage + 1})}" th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">></a>
                    <a th:href="@{/profile/{userId}(userId=${user.userId}, page=${totalPages - 1})}" th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">»</a>
                </div>
        </div>

    </div>
    <script th:inline="javascript">
        const currentUser = {
            userId:[[${currentUser.userId}]]
        };
    </script>
<script th:src="@{/js/comments.js}"></script>
<script th:src="@{/js/followbutton.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/dropdown.js}"></script>
</body>
</html>