<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moneygement 소비 QnA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main/style.css}"/>
    <link rel="icon" type="image/png" href="/img/main/favicon.png">
    <link rel="stylesheet" th:href="@{/css/main/qna.css}"> <!-- CSS 파일을 로드합니다. -->
</head>
<body>
<a id="userId" style="display: none;" th:attr="data-user-id=${currentUser.userId}"></a>
<div th:replace="~{layout/header.html::main-header}"></div>

<div class="containerBox">
    <div th:replace="~{layout/sidebar.html::main-sidebar}"></div>
<div class="chat-container" id="chatContainer">
    <div class="chat-box" id="chatBox"></div>
    <form id="messageForm">
        <input type="text" id="userInput" placeholder="질문을 입력하세요." autocomplete="false">
        <button type="submit">전송</button>
    </form>
</div>

<script src="/js/qna.js"></script> <!-- JavaScript 파일을 로드합니다. -->
</div>
</body>
</html>
