<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/main/change-password.css}">
</head>
<body class="gradient-custom">
<h1>내 정보 관리</h1>
<section class="d-flex vh-100">
    <header class="change-password-header">
        <img th:src="@{/img/main/Cilogo.png}" alt="대표 로고" class="main-logo-img">
    </header>
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card" th:style="'border-radius: 1rem;'">
            <div class="card-body p-5 text-center">
                <h2 class="text-black">Moneygement</h2>
                <p class="text-bg-dark-50 mt-2">비밀번호 변경</p>
                <div class = "mb-2">
                    <form id="changePasswordForm" action="/change-password" method="post">
                        <div class="mb-3 text-left">
                            <label class="form-label text-black"><strong>현재 비밀번호</strong></label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호를 입력하세요." required>
                        </div>
                        <div class="mb-3 text-left">
                            <label class="form-label text-black"><strong>새 비밀번호</strong></label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="새 비밀번호를 입력하세요." required>
                        </div>
                        <div class="mb-3 text-left">
                            <label class="form-label text-black"><strong>새 비밀번호 확인</strong></label>
                            <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="새 비밀번호를 한번 더 입력하세요." required>
                        </div>
                        <button type="button" id="changePwdBtn" class="btn btn-primary ui-state-focus">비밀번호 변경</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='/myPage'" style="color: white">돌아가기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="/js/change-password.js"></script>
</html>