<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" th:href="@{/css/main/EditComment.css}"/>
</head>
<body>
<div class="container">
    <h1>방명록 수정</h1>
    <form th:action="@{/profile/{userId}/comments/{commentId}/update(userId=${userId}, commentId=${comment.commentId})}" th:object="${comment}" method="post">
        <div class="form-group">
            <label for="content">방명록</label>
            <textarea class="form-control" id="content" th:field="*{content}" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>
</body>
</html>