<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" th:href="@{/css/main/delete-account.css}"/>
</head>
<body>

<section class="delete-account-section">
    <header class="find-password-header">
        <img th:src="@{/img/main/Cilogo.png}" alt="대표 로고" class="main-logo-img">
    </header>

    <div class="container-fluid row m-0">
        <div class="col-md-3 p-0"> <!-- 좌측 네비게이터 바 -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column w-100">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/change-password">비밀번호 변경</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/delete-account">회원 탈퇴</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-9 p-0"> <!-- 우측 컨텐츠 -->
            <div class="card h-100" th:style="'border-radius: 1rem;'">
                <div class="card-body p-5 text-center">
                    <h2 class="text-black">Moneygement</h2>
                    <p class="text-bg-dark-50 mt-2">회원 탈퇴</p>
                    <div class="mb-2">
                        <form id="deleteAccountForm" action="/api/delete-account" method="post">
                            <div class="mb-3 text-left">
                                <label class="form-label text-black"><strong>비밀번호 확인</strong></label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요." required>
                            </div>
                            <button type="button" id="deleteAccountBtn" class="btn btn-primary ui-state-focus">회원탈퇴</button>
                            <button type="button" class="btn btn-secondary" onclick="location.href='/myPage'" style="color: white">취소</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="/js/delete-account.js"></script>
</html>
