<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
</head>
<body>
<h1>Followers</h1>

<ul>
    <li th:each="follower : ${followers}">
        <span th:text="${follower.username}"></span>
        <button class="unfollow-button"
                data-authenticated-user-id="${#authentication.principal.id}"
                data-user-id="${follower.userId}">
            Unfollow
        </button>
    </li>
</ul>

<button onclick="goBack()">Back to Profile</button>
<script th:src="@{/js/follower.js}"></script>
</body>
</html>