<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>팔로워</title>
    <link rel="stylesheet" th:href="@{/css/main/followers.css}"/>
</head>
<body>
<h1>Followers</h1>
<button class="back-button" onclick="goBack()">뒤로 가기</button>
<ul>
    <li th:each="follower : ${followers}">
        <span th:text="${follower.username}"></span>
        <button class="unfollow-button">Unfollow</button>
        <input type="hidden" class="user-id" th:value="${follower.userId}">
    </li>
</ul>
<script th:src="@{/js/Follower.js}"></script>
<script th:src="@{/js/unfollow.js}"></script>

<div id="item-list"></div>
<div id="load-more-target"></div>
</body>
</html>