<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Following</title>
    <link rel="stylesheet" th:href="@{/css/main/followers.css}"/>
</head>
<body>
<h1>Following</h1>
<button class="back-button" onclick="goBack()">뒤로 가기</button>
<ul>
    <li th:each="following : ${following}">
        <span th:text="${following.username}"></span>
        <button class="unfollow-button"
                data-authenticated-user-id="${#authentication.principal.id}"
                data-user-id="${following.userId}">
            Unfollow
        </button>
    </li>
</ul>
<script th:src="@{/js/follower.js}"></script>
</body>
</html>