<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>가계부 생성</title>
</head>
<body>
<form th:action="@{/ledgers/create}" th:object="${ledger}" method="post">
    <label>가계부 이름:</label>
    <input type="text" th:field="*{title}" required>
    <input type="hidden" th:field="*{createdAt}">
    <button type="submit">가계부 생성</button>
</form>
</body>
</html>