<header th:fragment="main-header" class="main-header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a th:href="@{/}">
        <img th:src="@{/img/main/Cilogo.png}" alt="Log" class="main-logo-img">
    </a>

    <!-- 사용자 정보와 상호작용 부분 -->
    <div class="user-interaction">
        <div class="search1">
            <form class="searching" action="/searchUser" method="get">
                <label>
                    <select class="choice" name="searchType">
                        <option value="searchId">아이디</option>
                    </select>
                </label>
                <label class="searchKey"><input name="username" alt=""></label>
                <button type="submit">검색</button>
            </form>
        </div>
        <!-- 프로필 사진 -->
        <div sec:authorize="isAuthenticated()" class="user-info">
            <figure class="profile-picture" aria-label="프로필">
                <!-- 프로필 이미지 이름이 있으면 해당 이미지를, 없으면 기본 이미지를 표시 -->
                <img th:src="@{'/img/main/' + ${currentUser.profileImg}}" alt="프로필 사진">
            </figure>
            <a th:text="${currentUser.username} + ' '"></a>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-button">로그아웃</button>
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
            <!-- 로그인하지 않은 경우 -->
            <form th:action="@{/login}" method="get">
                <button type="submit" class="login-button">로그인</button>
            </form>
        </div>
    </div>
</header>
