@font-face {
    font-family: "BlackItalic";
    src: url("../font/roboto.medium-italic.ttf") format("truetype");
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
}

.change-password-section {
    width: 20%;
    display: grid;
    justify-items: center;
    margin: auto;
    margin-top: 8%;
}

.change-password-header {
    text-align: center;
    margin-bottom: 1em;
}

.main-logo-img {
    width: 85%;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 5%;
    width: 80%;
}

.form-group {
    margin-bottom: 1em;
}

.form-group input {
    width: 100%;
    padding: 1.35em 0.75em;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-change-password {
    padding: 0.75em;
    border: none;
    border-radius: 0.25em;
    background-color: #1A4F32;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: "BlackItalic", sans-serif;
    font-weight: bold;
}

.btn-back-to-profile {
    padding: 0.75em;
    border: 2px solid black;
    border-radius: 0.25em;
    background-color: white;
    color: #1A4F32;
    font-size: 20px;
    cursor: pointer;
    font-family: "BlackItalic", sans-serif;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: #1A4F32;
    font-size: 18px;
    margin-left: 10px;
}

.find-id-link{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #8c8989;
    font-size: 18px;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.form-group input {
    width: 100%;
    padding: 1.35em 0.75em 1.35em 4.5em;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

/*수정 css*/
.form-label-text-black{
   text-align: left;
}