.fortune-widget {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 357px;
}

.fortune-widget h4 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#birthYearInput {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    flex: 1;
}

#birthYearInput:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#fortuneButton {
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#fortuneButton:hover {
    background-color: #ffdf00;
}

.fortune-result {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#fortuneButton:not([disabled]) {
    background-color: #ffd700;
    color: #333;
    cursor: pointer;
}

.loading-spinner {
    width: 380px;
    height: 280px;
    margin-top: -40px;
    background-image: url(/img/main/dalacat.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}