html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.background{
    background-color: #1A4F32;
    width: 100%;
}
.more{
    width: 150px;
}
.profile-img{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -130px;
}
.more-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
    margin-bottom: 70px;
    align-items: center;
    position: relative;
}
.more{
    width: 50px;
}
.profile-name{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.profile-name p{
    font-weight: bold;
}
.follow-list{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.followers-button,
.follow-button,
.following-button{
    border-radius: 10px;
    background-color: #1A4F32;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
}
.level-bar {
    width: 300px;
    padding: 20px;
    border: 1px solid #D9D9D9;
}
.progress-bar-container {
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}
.progress-bar {
    height: 100%;
    border-radius: 10px;
    background-color: #1A4F32;
    width: 0;
    transition: width 0.5s ease;
}
.level-info{
    margin-top: 10px;
    font-weight: bold;
}
.side-view,
.guest-book{
    margin: 50px;
}
.introduce,
.stats{
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    width: 300px;
    padding: 20px;
    margin: 20px 0 50px;
    gap: 10px;
}
.text,
.text2{
    width: 35px;
    height: 20px;
    align-items: center;
    background-color: #1A4F32;
    color: white;
    border: none;
    padding: 10px;
}
.introduce-text{
    width: 300px;
    height: 100px;
    border: none;
}
.text2{
    width:50px;
    margin-left: 20px;
}
.guestbook-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.write{
    height: 30px;
    margin-right: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-top: 100px;
    z-index: 1;
}

.dropdown-menu a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
/*////////////////////////////////////////*/
.comments-list {
    margin-top: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.comment-item {
    padding: 10px;
    border: 1px solid #D9D9D9;
}
.time{
    display: flex;
    justify-content: space-between;
}
.item-content {
    margin: 20px 0 20px;
}

.comment-actions {
    display: flex;
    justify-content: end;
}
.button-submit,
.edit-button{
    background-color: #1A4F32;
}
.edit-button{
    padding: 8px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: small;
}
.delete-button {
    background-color: #4B9D70;
    BORDER: NONE;
    PADDING: 8px;
    COLOR: WHITE;
    font-size: small;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    color: #1A4F32;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a.disabled {
    color: #ccc;
    pointer-events: none;
}

.pagination a.active {
    background-color: #1A4F32;
    color: #fff;
}
textarea{
    margin-top: 40px;
    height: 50px;
    width: 95%;
}
.button-submit {
    color: white;
    padding: 7px;
    position: relative;
    top: -10px;
    border: none;
}
.img-width{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}