@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
    format('woff2'),
    url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Interop';
}

.member-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.logo{
    display: block;
    margin: 138px auto 65px;
    width: 285px;
    height: 85px;
}

.welcome, .select{
    text-align: center;
    font-weight: 400;
}

.welcome{
    font-size: 40px;
}

.divider{
    background-color: #D9D9D9;
    height: 1px;
    width: 701px;
}

.select{
    font-size: 30px;
}

.box{
    text-decoration: none;
    color: inherit;
}
.select-sign-up{
    font-size: 30px;
    width: 701px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    margin-top: 39px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-sign-up img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    padding-left: 26px;
    padding-right: 0px;
}

.select-sign-up img.email{
    height: 33px;
    width: 40px;
}
