@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
    format('woff2'),
    url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
    format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Interop';
}

.form-membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 701px;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 138px;
}

header span{
    font-size: 24px;

}

header img{
    width: 285px;
    height: 85px;
}

.divider{
    background-color: #D9D9D9;
    height: 1px;
    width: 701px;
}

main div{
    margin-top: 24px;
}

input[type="text"], input[type="password"]{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
}

input[type="button"]{
    background-color: #1A4F32;
    opacity: 0.86;
    color: white;
    font-size: 12px;
    border: none;
    text-align: center;
    padding: 10px;
}

button{
    background-color: #1A4F32;
    color: white;
    font-size: 15px;
    border: none;
    text-align: center;
    padding: 10px;
}
