/* 공통 부분 시작 */
body {
    margin: 0;
    background-color: #ffffff;
}
/* 공통 부분 끝 */

/* 헤더 시작 */
.main-logo-img{
    width: 55%;
}
header {
    display: flex;
    align-items: center;
    padding: 10px 51px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 2%;
    justify-content: space-between;
}
.profile-picture {
    margin: 0 13px 0 20px;
}
.profile-picture img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.user-interaction {
    display: flex;
    align-items: center;
}
.notification-icons img{
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.logout-button {
    background: white;
    border: none;
    font-size: medium;
    cursor: pointer;
    margin-left: 15px;
}

.login-button{
    background: white;
    border: none;
    font-size: medium;
    cursor: pointer;
    margin-left: 15px;
}

.user-info {
    display:contents;
}
/* 헤더 끝 */

.list-group {
    width: 250px;
}

.list-group-item {
    border: none;
}

.list-group-item.main-group {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 3px solid #1A4F32;
}

.list-group-item.active {
    background-color: #343a40;
    color: white;
}
.list-group-item:hover {
    color: blue;
}
.main-group:hover {
    color: inherit; /* 대표 그룹에 호버 효과를 해제하고 부모의 텍스트 색상을 상속 */
}
.mt-4{
    margin: 0;
}
.ps-4 a {
    font-family: "BlackItalic";
}
.ps-4 span {
    color: #1A4F32;
    font-weight: bold;
}


.search1{
    display: flex;
    background: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.searching{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
}

.searching button{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.searchKey input {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
}

.choice{
    padding: 0;
    margin: 0;
    border: none;
}